:root {
    --main-color: #ffa909;
    --secondary-color: #fff3bd;
    --third-color: #bf4f00;
    --main-bg-color: #000000;
    --secondary-bg-color: #001824;

    --success-color: rgba(0, 255, 0, 0.75);
    --warning-color: rgba(255, 191, 0, 0.75);
    --error-color: rgba(255, 0, 0, 0.75);
  }
  

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--main-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: var(--secondary-bg-color);
    box-shadow: inset 0px -10px 10px 0px var(--main-bg-color);
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.notification {
    font-family: "Funnel Display", sans-serif;
    bottom: 20px;
    right: 20px;
    position: fixed;
    width: 200px;
    height: 75px;
    border: #00000048 solid 5px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(-20px);
}

.notification.success {
    background-color: var(--success-color);
}

.notification.warning {
    background-color: var(--warning-color);
}

.notification.error {
    background-color: var(--error-color);
}