:root {
    --main-color: #ffa909;
    --secondary-color: #fff3bd;
    --shadow-color: #bf4f00;
}

@keyframes slowSpin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes slowFloat {
    0% {
        transform: translate(30vw, 23%) rotate(0deg);
    }

    25% {
        transform: translate(32vw, 25%) rotate(10deg);
    }

    50% {
        transform: translate(30vw, 27%) rotate(0deg);
    }

    75% {
        transform: translate(28vw, 25%) rotate(-10deg);
    }

    100% {
        transform: translate(30vw, 23%) rotate(0deg);
    }
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: black;
}

body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vmax;
    height: 100vmax;
    background: url("./assets/bg.png") center/cover no-repeat;
    opacity: 0.9;
    filter: brightness(2.5);
    transform: translate(-50%, -50%) rotate(0deg);
    animation: slowSpin 360s linear infinite;
    z-index: -1;
}

#logo {
    position: fixed;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: auto;
}

#planet {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: translate(10%, 45%);
    width: 45vw;
    height: auto;
    image-rendering: smooth;
}

#character {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(30vw, 25%);
    z-index: 1;
    animation: slowFloat 35s linear infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

/* main page buttons */
#options {
    position: fixed;
    bottom: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#play-btn, #login-btn {
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid var(--main-color);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;

    transition: background 0.5s, color 0.5s;
}

#play-btn:hover, #login-btn:hover {
    background: var(--main-color);
    color: black;
    transition: 0.5s;
}

#signup-btn {
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.50);
    border: 1px solid var(--secondary-color);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 550;
    margin: 10px;

    transition: background 0.5s, color 0.5s;
}

#signup-btn:hover {
    background: var(--secondary-color);
    color: black;
    transition: 0.5s;
}